USE [master]
GO
/****** Object:  Database [BancoGeeks]    Script Date: 10/04/2022 2:56:54 p. m. ******/
CREATE DATABASE [BancoGeeks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BancoGeeks', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BancoGeeks.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BancoGeeks_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BancoGeeks_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BancoGeeks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BancoGeeks]
GO
/****** Object:  Table [dbo].[ValoresSumados]    Script Date: 10/04/2022 2:56:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValoresSumados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrimerValor] [int] NOT NULL,
	[SegundoValor] [int] NOT NULL,
	[Resultado] [int] NOT NULL,
	[Secuencia] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
