<div class="card">
    <div class="card-header">
        El usuario debe ingresar dos números mayores que cero (0)
    </div>
    <div class="card-body">
        <div class="container">
            <form [formGroup]="FormSumar" (ngSubmit)="SumarNumeros()">
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <input formControlName="TxtPrimerNumero" class="k-textbox" type="text"
                            style="width: 50%; padding-left: 2em;padding-right: 1em;">
                    </div>
                    <div class="col-sm-12" style="text-align: center;">
                        <strong>+</strong>
                    </div>
                    <div class="col-sm-12" style="text-align: center;">
                        <input formControlName="TxtSegundoNumero" class="k-textbox" type="text"
                            style="width: 50%; padding-left: 2em;padding-right: 1em;">
                    </div>
                </div>
                <div class="col-md-12 " style="text-align: center;padding-top: 30px">

                    <button [disabled]="FormSumar.invalid" type="submit" class="btn"
                        style="color: white;background-color:#004E92;width: 50%;"> Sumar</button>
                </div>
            </form>
        </div>
        <div *ngIf="Busqueda" class="col-md-12 " style="text-align: center;padding-top: 30px">
            
            <div *ngIf="Errror; else correcto" class="alert alert-warning" role="alert">
                {{MensajeError}}
              </div>
              <ng-template #correcto>
                <div *ngIf="PerteneceSecuencia" class="alert alert-success" role="alert">
                   El Resultado es: {{Resultado}} y esta dentro la secuencia de Fibonacci
                  </div>
                  <div *ngIf="!PerteneceSecuencia" class="alert alert-success" role="alert">
                    El Resultado es: {{Resultado}} y no esta dentro la secuencia de Fibonacci
                  </div>
              </ng-template>
              
        </div>
    </div>
</div>